.container
  .row
    .col-xs-12
      .jumbotron.fadein.first
        .container
          %h1.fadein.slidein.second.easeOut
            Rebooting...
          %p.fadein.third
            ここには、まだ大したものがないです
