.animate.container
  .row
    .col-xs-12
      .jumbotron.animate.first.fadein
        .container
          %h1.animate.first.fadein.slidein.easeout
            Rebooting...
          %p.animate.second.fadein
            ここには、まだ大したものがないです
