.fb-like{"data-href" => "#{request.protocol}#{request.host_with_port}#{url_for(controller: :blog, action: :show, id: post.id)}", |
         "data-width"=> "260", |
         "data-height"=> "60", |
         "data-colorscheme"=> "light", |
         "data-layout"=> "standard", |
         "data-action"=> "like", |
         "data-show-faces"=> "true", |
         "data-send"=> "false"}
