.blog-post.contents.animate.container
  %h2.title.page-header.animate.first.fadein.slidein.easeout
    = link_to_unless !title_link, post.title, controller: :blog, action: :show, id: post.id
    %small.pull-right.animate.second.fadein
      .badge= post.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .body.animate.first.fadein
    = @markdown.render( post.body ).html_safe
