.mewlist.navbar.navbar-inverse.navbar-fixed-top{role:'navigation'}
  .navbar-header
    %button.navbar-toggle{'data-toggle'=>"collapse", 'data-target'=>".nav-collapse"}
      %span.sr-only
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand
      .logo
        .image
      mewlist.com
  .collapse.navbar-collapse.nav-collapse
    %ul.nav.navbar-nav
      =navbar_link_to 'Home',  controller: 'welcome', action: 'index'
      =navbar_link_to 'Blog',  controller: 'blog',    action: 'index', match: /^\/blog(\/.*)*$/
      =navbar_link_to 'Works', controller: 'welcome', action: 'works'
    %ul.nav.navbar-nav.navbar-right
      %li.sns
        %a#facebook{title: 'Facebook', href:"http://facebook.com/mewlist", target: "_blank"}
        %a#twitter{title: 'twitter', href:"http://twitter.com/mewlist", target: "_blank"}
        %a#github{title: 'GitHub', href:"http://github.com/mewlist", target: "_blank"}
